<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel="stylesheet" href="stylesheets/normalize.css" />
      <link rel="stylesheet" href="stylesheets/foundation.css" />
      <link rel="stylesheet" href="stylesheets/style.css"/>
      <script src="javascripts/jquery-3.2.1.min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
